# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/

# PyInstaller
dist/
build/
Output/
*.spec

# IDE files
.vscode/
.idea/
sign.bat
build.bat
sign-clean.bat

# Windows files
Thumbs.db
Desktop.ini
