# ====================================================================
# Python
# ====================================================================
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/

# ====================================================================
# PyInstaller / Build Artifacts
# ====================================================================
dist/
build/
Output/
*.spec

# ====================================================================
# IDE / Editor Configurations
# ====================================================================
.vscode/
.idea/

# ====================================================================
# Ignore batch scripts & sensitive files
# ====================================================================
sign.bat
build.bat
sign-clean.bat
certificate.pfx

# ====================================================================
# Windows System Files
# ====================================================================
Thumbs.db
Desktop.ini

# ====================================================================
# Optional / Misc
# ====================================================================
# macOS system files
.DS_Store

# Log and temporary files
*.log
tmp/
